<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS2ModLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PS2ModLauncher.Properties.Settings>
            <setting name="PS2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="LuaText" serializeAs="String">
                <value>--nothing</value>
            </setting>
            <setting name="DomainIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPack" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="luaFileName" serializeAs="String">
                <value>hax.lua</value>
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
        </PS2ModLauncher.Properties.Settings>
    </userSettings>
</configuration>